<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Where Is Matthew?</title>
  <meta name="author" content="Matt Denney">
  <link rel="stylesheet" href="css/styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <div id='addressBox'>
    <div>A server error occurred :(</div>
  </div>
</body>
</html>

