<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Where Is Matthew?</title>
  <meta name="author" content="Matt Denney">
  <link rel="stylesheet" href="css/styles.css">

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'G-1EFBRL51XD', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <div id='addressBox'>
    <% if(data.trak4Data.GPS_speed == 0 ){ %>
      <div>Matthew is parked at
       <%- data.googleData.formatted_address %>
      </div>
    <% } else { %>
      <div> Matthew is driving <span id='direction'></span> at <span id='speed'></span> mph.</div>
      <div> Currently in: <span id='movingLocation'></span></div>
    <% } %>
  <div id='updatedBox'>Last updated: <span id='updatedAt'/></div>
  <div id='map'></div>
  </div>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=<%- googleAPIKey %>&libraries=&v=weekly"
  >
  </script>
  <script>
    const data = <%- JSON.stringify(data) %>
    <%- include('./script.js')%>
  </script>
</body>
</html>

