
#title {
    color: red;
}

#addressBox {
    border: solid black 2px;
    padding: 30px;
    font-size: 25px;
}

#addressBox div {
    margin-bottom: 10px;
}

#map {
  height: 80vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
